/*@Font-Face*/
@font-face {
   font-family: 'ChelseaMarket';
   src: url('../fonts/chelseamarket-regular-webfont.eot');
   src: url('../fonts/chelseamarket-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/chelseamarket-regular-webfont.woff') format('woff'),
        url('../fonts/chelseamarket-regular-webfont.ttf') format('truetype'),
        url('../fonts/chelseamarket-regular-webfont.svg#chelsea_marketregular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'LatoBold';
   src: url('../fonts/lato-bold-webfont.eot');
   src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-bold-webfont.woff') format('woff'),
        url('../fonts/lato-bold-webfont.ttf') format('truetype'),
        url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/lato-regular-webfont.eot');
	src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/lato-regular-webfont.woff') format('woff'),
	     url('../fonts/lato-regular-webfont.ttf') format('truetype'),
	     url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*clearfix*/
.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1; /*for IE6 and IE7*/
}

/*General Styling*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #cab5a3 url(../images/bg-main.gif) repeat;
	color: #333;
	font-family: Lato, Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #544a40;
}

a:hover {
	text-decoration: underline;		
}

h1, h2, nav {
	font-family: ChelseaMarket, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	color: #810430;
}

.center-global {
	max-width: 1020px;
	margin: 0 auto;
}

/*Header*/
body > header {
	box-shadow: rgba(0, 0, 0, .25) 0 3px 2px 0;
	position: relative;
	z-index: 10;	
	background-image: linear-gradient(#87053e, #560329);
}

	.logo {
		float: left;
		margin-left: 14.2156862745098%;
		margin-top: -34px;
		position: relative;
		top: 34px;	
		transform: translateX(-800%);
		animation: logomove 2s ease-out 1s 1 normal forwards;
	}

@keyframes logomove {
	0% {
		transform: translateX(-800%) rotate(0);
	}

	100% {
		transform: translateX(0) rotate(-360deg);	
	}
}

	nav {
		float: right;
		margin-right: 17.35294117647059%;
		padding-top: 20px;
	}

		nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		nav ul li {
			display: inline-block;
			*display: inline; /*for IE7*/
			margin-right: 30px;
			font-size: 20px;
		}

		nav ul li:last-child {
			margin-right: 0;
		}

		nav a {
			color: #fefefe;
			-webkit-transition: color .4s ease-out;
			-moz-transition: color .4s ease-out;
			-o-transition: color .4s ease-out;
			transition: color .4s ease-out;
		}
	
		nav a:hover {
			text-decoration: none;
			color: #cdb8a5;
		}

/*Main Section*/
.promo {
	width: 1020px;
	margin: 0 auto;
	position: relative;
	z-index: 5;
	padding-bottom: 8px;
	box-shadow: rgba(0, 0, 0, .25) 0 3px 2px 0;
	background-image: linear-gradient(#4e0324, #4e0324 97%, #851f49);
	overflow: hidden;
}

	.promo img {
		width: auto;
		height: auto;
	}

	.promo-desc {
		position: absolute;
		bottom: 93px;
		right: 7.35294117647059%;
		width: 30.98039215686275%;
		text-align: center;
	}

		.promo-desc h1 {
			color: #fefefe;
		}

	.promo-btn {
		display: inline-block;
		width: 65.82278481012658%;
		padding: 13px 0;
		background-color: #6c0733;
		background-image: linear-gradient(#87053e, #560329);
		box-shadow: rgba(0, 0, 0, .25) 0 7px 2px 0;
		font-size: 20px;
		color: #fefefe;
		transition: transform .5s ease-out;
	}

	.promo-btn:hover {
		text-decoration: none;
		-webkit-text-decoration: none;
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		transform: scale(1.05);
	}


.main {
	padding-bottom: 33px;	
}

.latest {
	width: 62.74509803921569%;
	float: left;
	padding: 0 3.92156862745098%;
	background: url(../images/bg-column.png) no-repeat top right;
}

		.media {
			clear: left;
			padding-bottom: 28px;
			overflow: hidden;
		}
	
			.media a {
				text-decoration: none;
			}
	
				.media a h2,
				.media a p {
					-webkit-transition: color .3s linear;
					-moz-transition: color .3s linear;
					-o-transition: color .3s linear;
					transition: color .3s linear;
				}

				.media a:hover h2,
				.media a:hover p {
					color: #b32c1c;
				}

				.media img {
					float: left;
					margin-right: 4.6875%;
					max-width: 241px;
					width: 100%;
					height: auto;
					border: solid 9px #ede0d5;
					box-shadow: rgba(0, 0, 0, .25) 2px 2px 2px 0;
				}

				.media h2 {
					color: #49301a;
					font-family: LatoBold, Arial, Helvetica, sans-serif;
					font-weight: normal;
					font-size: 22px;
					margin-bottom: 5px;
				}

				.media p {
					margin: 0;
					font-family: Lato, Arial, Helvetica, sans-serif;
					font-size: 15px;
					color: #7b6047;
					text-transform: uppercase;
				}

					.media p span {
						font-size: 21px;
					}

	.more-btn {
	  text-align: center;
	  float: right;
	  margin-right: 50px;
	  width: 280px;
	  background-color: #6b5139;
	  background-image: linear-gradient(#6b5139, #2d1e10);
	}

/*Sidebar*/
.sidebar {
	width: 360px;
	float: right;
}

	.popular {
		padding-bottom: 40px;
	}

	.rating {
	float: left;
	clear: left;
	padding: 4px 15px 0 0;
	width: 45px;
	color: #810430;
	font-size: 13px;
}

	.pop-item {
		padding-bottom: 20px;
		float: left;
		width: 250px;
		text-transform: uppercase;
		font-size: 18px;
	}
		
		.pop-item a {
			color: #544a40;		
		}

	.tweet {
		padding-left: 55px;
		padding-right: 20px;
		position: relative;
		line-height: 1.4;	
	}

	.tweet:before {
		content: url(../images/twitter-icon.png);
		display: block;
		position: absolute;
		left: 15px;
		top: 4px;
		-webkit-transition: transform .5s linear;
		-moz-transition: transform .5s linear;
		-o-transition: transform .5s linear;
		transition: transform .5s linear;
	}

	.tweet:hover:before {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}

		.tweet a {
			color: #810430;
		}

		.tweet .date {
			color: #8f7e6d;
			font-family: Arial, sans-serif;
			font-size: 12px;
			font-style: italic;
		}

/*Footer*/
footer {
	background-color: rgb(66, 3, 30);
	padding-top: 10px;
	padding-bottom: 50px;
}

	footer ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.footer-inside {
		width: 1020px;
		margin: 0 auto;	
		padding-left: 40px;
	}

	.footer-1 {
		float: left;
		width: 422px;
	}

		.footer-1 h2 {
			font-size: 36px;
		}

		.footer-1 li {
			float: left;
			width: 195px;
		}

	.footer-2 {
		float: left;
		width: 326px;
		padding-top: 22px;
	}

		.footer-2 ul {
			margin: 0 80px 0 0;
		}

		.footer-1 ul, .footer-2 ul {
			text-align: center;
			font-size: 20px;
			line-height: 1.7;
		}

		.footer-1 ul a, .footer-2 ul a {
			color: #ab97a0;
		}

	.footer-3 {
		float: left;
		width: 232px;
		color: #801c48;
		padding-top: 22px;
	}

		.footer-3 h2, .footer-3 a {
			color: #801c48;
		}

		.footer-3 li {
			line-height: 1.7;
		}		